{% extends 'blog/base.html' %}
{% load static %}


{% block content %}

    <link href="https://cdn.bootcss.com/highlight.js/9.15.8/styles/github.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css">

    {#    <div style="float: right;">dadefads</div>#}
    <div class="pp-blog-details">
        {#<div onmouseenter="document.all.child1.style.display=(document.all.child1.style.display =='none')?'':'none'"#}
        {#        onmouseleave="document.all.child1.style.display=(document.all.child1.style.display =='none')?'':'none'"#}
        {#        ><h2 >目录</h2></div>#}

        <div class="pp-section pp-container-readable">
            <div><h1 style="margin-bottom: 40px">{{ article.title }}</h1></div>
            <div class="pp-post"><a class="h3" href="detail/{{ article.id }}"></a>
                <div class="pp-post-meta mt-2">
                    <ul>
                        <li><i class="fa fa-calendar-check-o"
                               aria-hidden="true"></i><span>{{ article.created_time }}</span></li>
                        {% for category in article.category.all %}
                            <li><i class="fa fa-navicon" aria-hidden="true"></i><span><a
                                    href="{% url 'blog:category' category.id %}"><span>{{ category.name }}</span></a></span>
                            </li>
                            <li><i class="fa fa-comments" aria-hidden="true"></i><span><a
                                    href="#"><span>{{ category.name }}</span></a></span></li>

                        {% endfor %}
                        <li><i class="fa fa-eye" aria-hidden="true"></i><span><a
                                href="#"><span>{{ article.visiting }}</span></a></span></li>


                        <li><i class="fa fa-tags" aria-hidden="true"></i>{% for tag in article.tags.all %}
                            <a href="#">{{ tag.name }}. </a>{% endfor %}</li>


                        <li><i class="fa fa-user-circle" aria-hidden="true"></i><a href="#">Admin</a></li>
                    </ul>
                </div>
                {#          <img class="img-fluid mt-3" src="images/blog-4.jpg" alt="Blog Image"/>#}
            </div>

            <p>
                {{ article.body | safe }}
            </p>

            <div id="child1" class="toc toc-right js-toc relative z-1 transition--300 absolute pa4 is-position-fixed"
                 style="display:block; top: 22.4rem;right: 8%;width: 16%; font-size: 10px; float: right" ;></div>
        </div>
    </div>




    <script src="https://cdn.bootcss.com/highlight.js/9.15.8/highlight.min.js"></script>
    <script src="https://cdn.bootcss.com/highlightjs-line-numbers.js/2.7.0/highlightjs-line-numbers.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
        hljs.initLineNumbersOnLoad();
    </script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
    <script>
        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '.js-toc',
            // Where to grab the headings to build the table of contents.
            contentSelector: '.pp-blog-details',
            {#contentSelector: '.toc',#}
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h1, h2, h3, h4, h5',
            // For headings inside relative or absolute positioned containers within content.
            hasInnerContainers: true
        });


        window.onscroll = function () {
            var scrollTop = document.documentElement.scrollTop;
            var child1 = document.getElementById("child1")
            child1.style.top = 10 + 'px';
            {#alert(document.documentElement.scrollTop||document.body.scrollTop)#}
        }


    </script>

{% endblock %}

